# About Spring Boot
/build/
/target/
.gradle/
*.class
*.jar
*.war
*.ear
HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# About OS settings

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# About IDE Settings 

# IntelliJ IDEA 
.idea/
*.iml
*.ipr
*.iws
out/
!**/src/main/**/out/
!**/src/test/**/out/


# VS Code 
.vscode/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
